[submodule "ansible_configs/inceptor"]
	path = ansible_configs/inceptor
	url = https://github.com/MrAle98/inceptor
[submodule "ansible_configs/MemoryModulePP"]
	path = ansible_configs/MemoryModulePP
	url = https://github.com/MrAle98/MemoryModulePP
[submodule "ansible_configs/Sliver-CPPImplant2"]
	path = ansible_configs/Sliver-CPPImplant2
	url = https://github.com/MrAle98/Sliver-CPPImplant2
[submodule "obfuscators/powershell/chameleon"]
        path = ansible_configs/inceptor/inceptor/obfuscators/powershell/chameleon
        url = https://github.com/klezVirus/chameleon.git
